.feynman {
    background-image: url(../../images/feinman.png);
    background-repeat: no-repeat;
    background-position: absolute;
    top: 0;
    left: 0;
    width: 867px;
    height: 637px;
    background-color: #f2f2f2;
}