.kaufman__triangle {
    background-image: url(../../../images/triangle.svg);
    z-index: 1;
    position: absolute;
    right: -150px;
    border: none;
    bottom: -200px;
    width: 1000px;
    height: 1000px;
}