/* Секция 2 */



.section{
    width:80%;
    margin: auto;
  }
  
  .section-title{
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  width: 60%;
  margin: auto;}
  
  .section-subtitle{
    font-size: 24px;
    font-weight: normal;
    line-height: 34px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
  }
  
  
  .cards{
    display: flex;
    width: 920px;
    flex-wrap: wrap;
    margin: auto;
  }
  div.item:nth-child(3){
    margin-right: 30px;
    margin-left:
       } 
  
  .item{
    max-width: 25%;
    margin-right: 100px;
  }
  
  
  .cards-title{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.15;
    margin: auto 50% auto 50%;
  }
  
  .cards text{
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
    margin-top: 16px;
    margin: auto 50% auto 50%;
  }
  .cards-title{
    margin: auto;
  }
  .cards img{
  height: 160px;
  width: 160px;
  margin: 60px 40px 43px 40px;
  }